body{
    background: url("./../img/bg1fix.jpg") no-repeat;
    background-attachment: fixed;
}

#main_chat{
}
#sidebar{
    border: 1px solid;
    text-align: center;
}

#users ol{
    background: white;
    text-align: left;
    border-radius: 3px;
}
#chat_messages{
    overflow: auto;
    width: 100%;
    height: 95vh;
}

.message_title{
    display: flex;
    margin-bottom: 5px;
}
.message_title h4 {
    font-weight: 600;
    margin-right: 10px;
    font-size: 110%;
  }

.message_title span {
    color: #999;
  }
.page-footer{
    margin-top: 5px;
}