.bg{
    background: url("./../img/bg1fix.jpg") no-repeat;
    width: 100%;
    height: 100vh;
}

.form-container{
    text-align: center;
    border: 1px solid rgb(113, 143, 199);
    border-radius: 15px;
    padding: 50px 60px;
    margin-top: 150px;
    -webkit-box-shadow: 0px 1px 21px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 21px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 21px 3px rgba(0,0,0,0.75);
}


.form-container h3{
    font-size: 30px;  
}
.form-container label{
    font-weight: bold;  
}