<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/chat_style.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div calss="container-fluid bg">
        <div class="row">
            <div class="col-2" id="sidebar">
                    <h3>People</h3>
                    <ol id="users"></ol>
            </div>
            <div class="col-10" id="main_chat">
                <div id="chat_messages">
                    <ul class="list-group" id="messages"></ul>
                </div>

                <footer class="page-footer">
                    <form id="message-form">
                        <div class="row">
                                <div class="col-9">
                                    <input class="form-control" name="message" type="text" placeholder="Type a message..." autocomplete="off" autofocus />
                                </div>
                                <div calss="col-1">
                                    <button type="submit button" form="message-form" class="btn btn-primary">Send</button>
                                </div>
                                <div class="col-1">
                                     <button id="location-button" type="submit button" class="btn btn-secondary">Send location</button>
                                 </div>
                        </div>
                    </form>
                </footer>
            </div>
        </div>
    </div>

        <script id="message-template" type="text/template">
            <li class="list-group-item">
                    <div class="message_title">
                        <h4>{{from}}</h4>
                        <span>{{createdAt}}</span>
                    </div>
                    <div class="message_body">
                        <p>{{text}}</p>
                     </div>
            </li>
        </script>

        <script src="/socket.io/socket.io.js"> </script>
        <script src="js/libs/jquery-3.3.1.min.js"></script>
        <script src="js/libs/mustache.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="js/libs/moment.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script src="js/chat_bs.js"></script>
        <script src="js/libs/deparam.js"></script>

</body>